.logo {
    width: 30%;
}
nav {
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 20px;
}
h1, .tag {
    text-align: center;
}

.story {
   text-align: center;
   margin: 20px;
   align-content: flex-end;

}
.hero {
    position: relative;
    text-align: center;
    color: white;
  }
.heropic {
    width: 100%;
    height: 400px;
}
.banner {
    position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -90%);
}
/* .tag {
    background-color: palevioletred;
    position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}  */

.services {
   margin: 25px;
}

.services, .about {
   text-align: center
   
}
.col {
    padding: 25px;
}

.sibs {
    display: flex;
    flex-direction: row;
}
.headshot {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.name {
    font-weight: bold;
    text-align: center;
}

.Dan, .Kelly {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
p {
    margin: 3px;
    padding: 10px;
}

.about {
    margin: 25px;
}
